body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    padding: 8px;
    display: inline-block;
  }
  
  .title,
  .content,
  .button-container {
    margin: 8px;
    padding: 8px;
  }
  .title {
    background: #e3f4ff;
    font-size: 16px;
    
  }
  
  .content {
    background: #e3f4ff;
  }
  
  .button-container {
    background: #e3f4ff;
    margin: 8px;
    text-align: center;
  }
  
  button {
    display: block;
    background: white;
    border: 1px solid #eee;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
  }